@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

.intro-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  /* background-image: linear-gradient(#78e61259, #ffffff2d, #ffffff1a),
    url("/waldemar-brandt-JYPDh4ter10-unsplash.jpg"); */
  background-image: url("/old-newspaper-g5beecccd2_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(4px);
  -webkit-filter: blur(4px);
}
#with-srcdoc {
  pointer-events: none;
}
